@import "variables";

.space-ctn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #050816;
  width: 100%;
  height: calc(100vh - 80px);
  color: #f39914;
}

.card-map {
  width: 21rem;
  height: 38rem;
  background: rgba(38, 43, 46, 0.69);
  position: absolute;
  right: 8%;
  top: 25%;
  border-radius: 0.625rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #ebab4c;
  text-align: center;
  font-weight: 600;
}

.svg-ctn {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  margin: 0.2rem;
}

.img-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    margin: auto;
    width: 70%;
    height: 300px;
    border-radius: 0.3125rem;
  }
}

.title {
  font-size: 2rem;
  margin: 0.5rem 0;
  margin-top: 1rem;
  background: $primary-color;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ingredients {
  margin-top: 1rem;
}

.ingredients h2 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  background: $primary-color;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: underline;
}

.ingredients ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: $primary-color;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ingredients li {
  margin-bottom: 0.2rem;
}

@media screen and (max-width: 376px) {
  .card-map {
    top: calc(0vh + 80px);
    left: 0;
    width: 100%;
    background: rgba(38, 43, 46, 0.987);
    height: calc(100vh - 80px);
    animation: 0.3s linear 0.3s slidein;
    transform: translateX(0%);
    opacity: 0;
    animation-fill-mode: forwards;
  }
  .closed {
    transform: translateX(-100%);
  }
  @keyframes slidein {
    from {
      left: -100%;
      opacity: 0;
    }
    to {
      left: 0;
      opacity: 1;
    }
  }
}
